@model IEnumerable<Pergunta>
@{
    Layout = "_LayoutB";
}

<img src="~/cat.JPG" asp-append-version="true" />
<ul>
    @foreach (var item in Model)
    {
    <li>
        @*<textarea asp-for="@item.Autor"></textarea>*@
        <p>@item.Id</p>
        <p>@item.Autor</p>
        <p>@item.Descricao</p>
        <label asp-for="@item"></label>

    </li>
    }
</ul>


<email mail-to="rodolfo"></email>

<h1>ViewBag @ViewBag.Nome</h1>
<h1>VieData @ViewData["NomeDoAluno"]</h1>
<h1>VieData @ViewData["Nome"]</h1>

<p> Twitter @@rodolfofadino</p>



<vc:noticias  total="10" noticias-urgentes="true" ></vc:noticias>

@*@await Component.InvokeAsync("Noticias", new { total = 3, noticiasUrgentes = false })*@

@*<p>@Model.Id</p>
    <p>@Model.Autor</p>
    <p>@Model.Descricao</p>*@
